<section
  fxLayout="column"
  fxLayoutAlign="space-around"
  dir="ltr"
  fxLayoutGap="10px"
>
  <header>
    <h4 class="mat-subheading-2 subheadingtitle">
      Check your system/laptop supports the minimum hardware & software
      requirements to support proctoring
    </h4>
    <h5 class="mat-subheading-2 subheadingtitle">
     Required to fill the following details to start the proctoring
    </h5>
  </header>
  <div
    [formGroup]="proctorDetails"
    fxLayout="column"
    class="container"
    fxLayoutGap.xs="3.5%"
    fxLayoutGap="1%"
  >
    <mat-form-field appearance="outline" class="fields" fxFlex="32%">
      <mat-label class="mat-caption">TalviewToken</mat-label>
      <input
        matInput
        placeholder="Talview-Token"
        formControlName="talviewToken"
        required
      />
      <mat-hint align="end"
        >Field should have token to be passed for initialization</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="fields" fxFlex="32%">
      <mat-label class="mat-caption">ProfileId</mat-label>
      <input
        matInput
        placeholder="profileId"
        formControlName="profileId"
        required
      />
      <mat-hint align="end">Field should have talview profile Id</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="fields" fxFlex="32%">
      <mat-label class="mat-caption">Session</mat-label>
      <input
        type="text"
        matInput
        placeholder="Session"
        formControlName="session"
        required
      />
      <mat-hint align="end">Filed should have seesion Id </mat-hint>
    </mat-form-field>
  </div>


  <div class="mat-body-1 subheadingtitle">
    <p>{{ proctoringMsg }}</p>
    <p style="color: red" *ngIf="!proctorDetails.valid">
      All fileds are required
    </p>
  </div>
</section>

  <section class="section-margin" fxLayout="row" fxLayoutAlign="space-around">
    <button
      mat-stroked-button
      color="accent"
      [disabled]="!proctorDetails.valid"
      (click)="onStartProctoring()"
    >
      {{ "Start Proctoring" }}
    </button>
  </section>

  <section fxLayout="row" class="space-around" fxLayoutAlign="space-around">
    <button mat-stroked-button color="warning" (click)="onStopProctoring()">
      {{ "Stop Proctoring" }}
    </button>
  </section>
  <section>
    <div id="content"></div>
  </section>
